#cabecalho0{margin: 0 auto; background-color: #2f2f21; }
#projetoMoedaSocial h4{color:blue;}
#corLogin{color:blue;}

#cabecalho1{margin: 0 auto; height:400px;padding: 0px;}
#cabecalho1 img{width:100%; height: 100%;}

#cabecalho2{height:100px; background-color: #2f2f21;}
body{background-image: url("config/imagem/social.png");}
#cabecalho2 img{width:100%; height:100px;}
#carousel-example-generic img{height: 100px;}